*{
  margin: 0px;
  padding: 0px;
 }
 body{
   background-image: url("../IMAGE/canyon2.jpg");
   background-position: 50% 80%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
   }

input{
  display: block;
  height: 55px;
  width: 350px;
  margin: 7px;
  border-radius: 26px;
  border: 1px solid whitesmoke;
  font-size: 15pt;
  padding: 10px 10px;
  background-color: rgba(255,255,255,0.1);
  color: white;
  font-weight: bold;
  outline: none;
  border-bottom: 5px solid rgb(245, 127, 1);
 }
input:hover{
  background-color: rgba(255,255,255,0);
  transform: translate(0px, -3px);
  transition: transform 0.5s;
}
 input[type=submit]:hover{
  background-color: rgb(245, 19, 68);
  width: 170px;
  box-shadow: 0px 0px 10px;
  transform: translate(0px, -3px);
  transition: transform 0.5s;
}

div#corpo-form{
  /*background-color: red;*/
  width: 370px;
  margin: 36px auto 0px auto;
}

div#corpo-form h1{
  text-align: center;
  font-size: 26pt;
  color: brown;
  padding: 60px;  
}

div#corpo-form h2{
  text-align: center;
  font-size: 20pt;
  color: white;
  padding: 15px;  
}

a{
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 3px;  
}
a:hover{
  text-decoration: underline;
  color: rgb(248, 152, 8);
}

input[type=submit]{
  display: block;
  height: 55px;
  margin: auto;
  background-color: FF0066;
  width:220px;
  text-align: center;
  font-weight: bold;
  font-size:22pt;
  border: none;
  cursor: pointer;
  border-bottom: 5px solid rgb(139, 18, 18);
}
::-webkit-input-placeholder {
color:#FFF;
}
::-moz-placeholder{
  color:#FFF;
}
:-moz-placeholder{
  color:#FFF;
}
:-ms-input-placeholder{
  color:#FFF;
}
h1:hover{
  background-color:rgba(255,255,255,0);
  transform: translate(0px, -3px);
  transition: transform 0.5s;
}
h2:hover{
  background-color: rgba(255,255,255,0);
  transform: translate(0px, -3px);
  transition: transform 0.5s;
}